<!-- Good use of ng-repeat & ng-switch to edit profile data within a object-array. @DonRPage --> 
   <div class="content-wrapper">
      <h2>Angular Profile Editing</h2>
          <div class="row logout" align="right">
            <label> <a ng-click="logout()">Logout </a></label>
         </div>
         <div class="table-responsive" id="side">
          <table class="table-bordered table-condensed" style="margin-right:30px;">
              <thead>
                  <tr>
                      <th style="width:50px"></th>
                      <th class="id" style="width:150px">ID</th>
                      <th class="firstname" style="width:150px">Firstname</th>
                      <th class="lastname" style="width:150px">Lastname</th>
                      <th class="username" style="width:150px">Username</th>
                      <th class="gender" style="width:150px">Gender</th>
                      <th class="address" style="width:150px">Address </th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in employees">
                    <td>
                    <div class="img-wrapper clearfix">
                      <img style="width:100px" ng-src="{{item.emp_img}}" ng-required>
                    </div>
                    </td>  

                    <td>
                      <span ng-hide="editMode">{{ item.firstname }}</span>
                      <input type="text" ng-show="editMode" ng-model="item.firstname" ng-required />
                    </td>
                      <td>
                      <span ng-hide="editMode">{{ item.lastname }}</span>
                      <input type="text" ng-show="editMode" ng-model="item.lastname" ng-required />
                    </td>
                    </td>
                      <td>
                      <span ng-hide="editMode">{{ item.username }}</span>
                      <input type="text" ng-show="editMode" ng-model="item.username" ng-required />
                    </td>
                    </td>
                      <td>
                      <span ng-hide="editMode">{{ item.gender }}</span>
                      <input type="text" ng-show="editMode" ng-model="item.gender" ng-required />
                    </td>
                    </td>
                      <td>
                      <span ng-hide="editMode">{{ item.address }}</span>
                      <input type="text" ng-show="editMode" ng-model="item.address" ng-required />
                    </td>
                    <td style="width:100px">
                        <button type="submit" ng-hide="editMode" ng-click="editMode = true; editProfile(item)" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span>Edit</button>
                        <button type="submit" ng-show="editMode" ng-click="editMode = false" class="btn btn-default"><span class="glyphicon glyphicon-save"></span>Save</button>
                        <button type="submit" ng-show="editMode" ng-click="editMode = false; cancel()" class="btn btn-default"><span class="glyphicon glyphicon-cancel"></span>Cancel</button>

                        <button type="submit" ng-click="deleteProfile($index)" class="btn btn-info"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
   </div>
